html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

/* Font Color for navbar */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color:orange;
}
.navbar-dark .navbar-nav .nav-link {
  color: orange;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}


/* Gradient background */
.rgba-gradient {
  padding-top: 50px;
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  padding-top: 155px;
  padding-bottom: 250px;
}

.col{
  margin-top: 50px;
  padding: 0 200px;
}

.card-body {
  background-color: rgba(126, 123, 215, 0.2);
  padding: 60px;
  align-content: center;
}

h6 {
  line-height: 1.7;
  color: pink;
  font-size:30px;
}

h1{
  margin: 70px 70px 0 0;
    font-size:100px;
    color: pink;
}

h3{
  color:pink;
  font-size: 40px;
}


