html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

/* Font Color for navbar */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color:orange;
}
.navbar-dark .navbar-nav .nav-link {
  color: orange;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  padding-bottom: 50px;
}

.col{
  margin: 50px 0;
}

.rounded-circle{
  width: 300px;
  height: 300px;
  margin-left: 100px;
}

h6 {
  line-height: 1.7;
  color: black;
  font-size:20px;
  display: inline-block;
}

h1{
    margin: 50px 0 0 50px;
    padding: 30px 0;
    font-size:100px;
    color: pink;
}

h3{
  color:pink;
  font-size: 40px;
}

div.row:nth-last-type(1){
  margin-bottom: 50px;
}


